
<mat-list role="list">
  <a mat-raised-button class="sid-btn" color="warn" routerLink="/admin">DASBOARD</a>
  <a mat-raised-button class="sid-btn" color="warn" routerLink="customers">CUSTOMER</a>
  <a mat-raised-button class="sid-btn" color="warn" routerLink="products">PRODUCT</a>
  <a mat-raised-button class="sid-btn" color="warn" routerLink="orders">ORDER</a>
  <a mat-raised-button class="sid-btn" color="warn" routerLink="authorize-menu">ROL ATAMA</a>
  <a mat-raised-button class="sid-btn" color="warn" routerLink="roles">ROLLER</a>
  <a mat-raised-button class="sid-btn" color="warn" routerLink="users">KULLANICILAR</a>
  <a mat-raised-button class="sid-btn" color="warn" routerLink="">SITE</a>
</mat-list>

