<div class="mb-3 reset-div" *ngIf="state.state">
  <label for="password" style="color:#808080" class="form-label">Şifre</label>
  <input type="password" class="form-control" id="password" placeholder=" " #txtPassword>
  <br/>
  <label for="passwordConfirm" style="color:#808080" class="form-label">Şifre Tekrarı</label>
  <input type="password" class="form-control" id="passwordConfirm" placeholder=" " #txtPasswordConfirm>
  <br />
  <button (click)="updatePassword(txtPassword.value,txtPasswordConfirm.value)">
    <span>Şifreyi Güncelle</span>
  </button>
</div>

<div style="margin-top:20%" class="alert alert-danger" role="alert" *ngIf="!state.state">
  <span>Bu Link Kullanılmamaktadır !</span>
</div>
